html, body{
  font-family: Cinzel;
}
/*
footer{
  background-color:#3f3f3f;
  color: #f5f5dc;
}*/
.myVideos{
  position: relative;
  width:100%;
}
.padding{
  padding-bottom:4em;
}
/*
.navbar-brand{
  display: flex;
  align-items: center;
  justify-content: center;
  
}*/
.navbar-brand img{
  position:relative;
  left:6.25vw;
  top:0.65vw;
}
.navbar-brand h6{
  position:relative;
  left:10.25vw;
  bottom:1.75vw;
  font-size:20px;
  letter-spacing: 4px;
  font-weight:100;
  color:#0E3C53;
}
.navbar-brand h5{
  position:relative;
  left:10.35vw;
  bottom:2vw;
  font-size:15px;
  letter-spacing: 3px;
  font-weight:100;
  color:#0E3C53;
}

.navbar-nav li{
  font-size:12px;
  padding-right: 0.5vw;
  letter-spacing:0.25px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color:skyblue;
}
.navbar-nav{
  position:relative;
  right:2vw;
  bottom:2vh;
}

.social{
  font-size:2rem;
  position:relative;
  bottom:0.7rem;
  padding-left:5rem;
}
.social i{
  padding-right:1rem;
}
.fa-facebook{
  color:#3b5998;
}
.fa-twitter{
  color:#00acee;
}
.fa-instagram{
  color: #d6249f;
}

.carousel{
  width:832px;
  height:500px;
  margin: 0 auto;
}
.images1and2{
  width:100%;
  height:500px;
  object-fit:cover;
}
.image3{
  width:100%;
  height:500px;
  object-fit:cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

/* The overlay effect - lays on top of the container and over the image 
OVERLAY TITLE: https://www.w3schools.com/howto/howto_css_image_overlay_title.asp*/
.caption-overlay {
  position:inherit;
  bottom: 1rem;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  font-size: 35px;
  padding: 20px;
  text-align: center;
}
/* When you mouse over the container, fade in the overlay title */
.img-wrap:hover .caption-overlay {
  opacity: 1;
}

.btn-outline-secondary:hover{
  background-color:#0c1649;
  border: 1px solid #0c1649;
}
.btn-outline-secondary{
  border-radius:0; /*sharpcorner button*/
}

.padding2{
  padding-top:3em;
}
.footer-margin{
  margin-top:10em;
}
.aboutus-caption{
  padding-top:3em;
  padding-left:3.25em;
}
.paragraph-text{
  padding-left:7.5rem;
}
.card{
  border:none;
}
.card img{
  width:100%;
  height: 28vh;
  object-fit: cover;
}
.card-margin{
  padding-left:6rem;
  padding-right:6rem;
}
.card-title{
  color:#343b5f;
}
.treatment-book-now{
  border-radius:0;
  border: 1px solid #0c1649;
  background-color:#0c1649;
  opacity:0.85;
}
.treatment-book-now:hover{
  opacity:1;
  border: 1px solid #0c1649;
  background-color:#0c1649;
}
.card-body{
  font-size:18px;
}
.card-body a[role="button"]{
  text-align:center;
  width:132px;
  height:38px;
  font-size:14px;
  margin-top:3em;
}
.bluecolored-text{
  color:#0E3C53;
}
.index-floating-text{
  font-size:37px;
  letter-spacing: 3px;
}
.contact-info{
  font-size:30px;
}
.card a img:hover{
  filter:brightness(85%);
}

/* read-more.html css */
.img-bottom-description{
  margin-left:26%;
}
#back-button{
  font-size: 2rem;
  color: #3b5998;
  margin-left:16%;
}
#massage-img{
  width:920px;
}

/*DIN next font
.din-next-font{
  font-family: "DIN Next™";
}*/

.ourmission_subheading{
  font-size:44px;
  letter-spacing: 2px;
}

#contact-form{
  background-color: white;
  padding:5%;
}

::placeholder{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}